<div class="overlay" id="pageOverlay"></div>
<div class="container-fluid" style="padding-left: 0">
  <div class="row">
    <!-- Sidebar/Navbar area -->
    <!-- Sidebar/Navbar area -->
    <!-- Replace your existing sidebar with this -->

    <!-- Map area -->
    <!-- Collapsible Navigation Sidebar -->
    <!-- Toggle Button for the sidebar -->

    <div class="col-md-12">
      <div id="map" style="height: 100vh; width: 100vw">
        <!-- Report Modal -->
        <div
          class="modal fade"
          id="reportModal"
          tabindex="-1"
          aria-labelledby="reportModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">
                  Chỉnh sửa thông tin bảng quảng cáo
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form id="reportForm">
                  <div class="mb-3">
                    <label for="quantity" class="col-form-label">Số lượng</label>
                    <textarea
                      class="form-control"
                      id="quantity"
                      required
                    ></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="area" class="col-form-label">Khu vực</label>
                    <textarea class="form-control" id="area"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="landtype" class="col-form-label">Loại đất</label>
                    <textarea class="form-control" id="landtype"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="adformat" class="col-form-label">Hình thức quảng
                      cáo</label>
                    <textarea class="form-control" id="adformat"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="status" class="col-form-label">Tình trạng</label>
                    <textarea class="form-control" id="status"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="boardtype" class="col-form-label">Loại bảng
                      quảng cáo</label>
                    <textarea class="form-control" id="boardtype"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="size" class="col-form-label">Kích thước</label>
                    <textarea class="form-control" id="size"></textarea>
                  </div>
                  <!-- Include other form fields as needed -->
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button type="submit" class="btn btn-primary" form="reportForm">
                  Lưu
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="extension" class="sidebar-container">
          <button id="toggleSidebarButton" class="btn btn-lg">☰</button>
          <div class="dropdown">
            <button
              class="btn btn-lg dropdown-toggle m-3"
              style="width: 65px"
              type="button"
              id="AdInfodropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-badge-ad"></i>
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="AdInfodropdownMenuButton"
            >
              {{#each ward}}
                <li>
                  <a class="dropdown-item" href="/api/quan/adManager/{{this._id}}"><button
                      id="adManager{{this._id}}"
                      class="btn btn-secondary"
                      style="width: 250px"
                    >
                      {{this.name}}
                    </button></a>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-lg dropdown-toggle m-3"
              style="width: 65px"
              type="button"
              id="ReportInfodropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-flag"></i>
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="ReportInfodropdownMenuButton"
            >
              {{#each ward}}
                <li>
                  <a class="dropdown-item" href="/api/quan/report/{{this._id}}"><button
                      id="reportManager{{this._id}}"
                      class="btn btn-secondary"
                      style="width: 250px"
                    >
                      {{this.name}}
                    </button></a>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-lg dropdown-toggle m-3"
              style="width: 65px"
              type="button"
              id="LicenseInfodropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-clipboard-check"></i>
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="LicenseInfodropdownMenuButton"
            >
              {{#each ward}}
                <li>
                  <a class="dropdown-item" href="/api/quan/license/{{this._id}}"><button
                      id="adLicense{{this._id}}"
                      class="btn btn-secondary"
                      style="width: 250px"
                    >
                      {{this.name}}
                    </button></a>
                </li>
              {{/each}}
            </ul>
          </div>
          <button
            id="LogIn"
            class="btn btn-lg m-3"
            onclick="window.location.href='/login.html'"
          >
            <i class="bi bi-person-circle"></i>
          </button>
          <!-- The rest of the sidebar content will go here -->
          <!-- ... -->
        </div>
        <div id="nav-sidebar">
          <button
            type="button"
            class="closeSideBar"
            aria-label="Close"
            id="closeSideBar"
          >
            &times;
            <!-- This is a common way to represent a close button -->
          </button>
          <!-- Navigation items here -->
          <div class="list-group" style="left: 0">
            <p class="h2 text-center bg-info">Phân hệ Cán bộ Quận</p>
            <p class="h4 text-center">Chọn phường bạn muốn quan sát</p>
            <div class="dropdown">
              <button
                class="btn dropdown-toggle m-3 btn-lg"
                style="width: 250px"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{district.name}}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {{#each ward}}
                  <li>
                    <a class="dropdown-item" href="#"><button
                        id="{{this._id}}"
                        class="btn btn-secondary"
                        style="width: 250px"
                      >
                      
                        {{this.name}}
                      </button></a>
                  </li>
                {{/each}}
              </ul>
            </div>

            <hr />
            <div class="dropdown">
              <button
                class="btn btn-lg dropdown-toggle m-3"
                type="button"
                id="AdInfo"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="width: 245px"
              >
                <i class="h6 bi bi-badge-ad" style="font-style: normal">Quản lý
                  bảng quảng cáo</i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="AdInfo">
                {{#each ward}}
                  <li>
                    <a class="dropdown-item" href="/api/quan/adManager/{{this._id}}"><button
                        id="adManager{{this._id}}/main"
                        class="btn btn-secondary"
                        style="width: 250px"
                      >
                        {{this.name}}
                      </button></a>
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class="dropdown">
              <button
                class="btn btn-lg dropdown-toggle m-3"
                type="button"
                id="ReportInfo"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="width: 245px"
              >
                <i class="h6 bi bi-flag" style="font-style: normal">Xử lý báo
                  cáo người dân</i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="ReportInfo">
                {{#each ward}}
                  <li>
                    <a class="dropdown-item" href="/api/quan/report/{{this._id}}"><button
                        id="reportManager{{this._id}}/main"
                        class="btn btn-secondary"
                        style="width: 250px"
                      >
                        {{this.name}}
                      </button></a>
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class="dropdown">
              <button
                class="btn btn-lg dropdown-toggle m-3"
                style="width: 245px"
                type="button"
                id="LicenseInfo"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i
                  class="h6 bi bi-clipboard-check"
                  style="font-style: normal"
                >Yêu cầu cấp phép quảng cáo</i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="LicenseInfo">
                {{#each ward}}
                  <li>
                    <a class="dropdown-item" href="/api/quan/license/{{this._id}}"><button
                        id="adLicense{{this._id}}/main"
                        class="btn btn-secondary"
                        style="width: 250px"
                      >
                        {{this.name}}
                      </button></a>
                  </li>
                {{/each}}
              </ul>
            </div>
            <hr />
            <!-- More items -->
            <button
              id="LogOut"
              class="btn btn-lg m-3"
              onclick="window.location.href='/login.html'"
            >
              <i class="bi bi-person-circle" style="font-style: normal">Đăng
                xuất</i>
            </button>
            <hr />
            <p class="border-0 m-0 p-0">
              <i class="bi bi-c-circle"></i>&nbsp;Ứng dụng được phát triển bởi
              Sở Văn hóa - Thể thao Thành phố Hồ Chí Minh
            </p>
          </div>
        </div>
        <div id="sidebar" class="col-md-3 col-lg-2">
          <div class="card">
            <div class="container-fluid" id="billboard-img">
              <img
                src="/billboard.jpg"
                class="img-fluid rounded-lg"
                alt="image of the billboard"
              />
            </div>
            <div class="card-header d-flex justify-content-between">
              Thông tin địa điểm:
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                id="closeSidebar"
              ></button>
            </div>
            <div class="card-body" id="infoContent">
              <!-- Content will be dynamically inserted here -->
            </div>
            <button
              type="button"
              class="btn btn-warning btn-sm m-3"
              id="reportButton"
            >
              Chỉnh sửa
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>