<main>

  <div class="container">

    <table class="table table-bordered">
      <h2 class="text-center">Danh sách điểm đặt</h2>
      <!-- Button trigger modal -->
      <a
        class="btn btn-success float-right mb-2"
        id="add"
        name="add"
        href="/api/sovhtt/danh-sach-diem-dat/{{ward._id}}/addLocation"
        role="button"
      >
        <i class="bi bi-person-plus"></i>
        Thêm
      </a>
      <thead class="custom-header">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Khu vực</th>
          {{! <th scope="col">Số lượng</th> }}
          <th scope="col">Hình thức</th>
          <th scope="col">Phân loại</th>
          <th scope="col">Tình trạng</th>
          <th scope="col">Chi tiết</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        {{#each locations}}
          <tr>
            <td scope="row">{{showIndex @index}}</td>
            <td>{{this.address}}</td>
            <td>{{this.ward.name}} - {{this.district.name}}</td>
            {{!-- <td>{{this.adboard.properties.quantity}}</td> --}}
            <td>{{this.adFormat}}</td>
            <td>{{this.locationType}}</td>
            <td>{{this.status}}</td>
            <td>
              <a href="/api/sovhtt/danh-sach-quang-cao/{{this._id}}">Chi tiết</a></td>
            <td>
              <a
                href="#"
                class="pe-auto"
                data-toggle="modal"
                data-target="#xoaDiemDatModal"
                data-locationid="{{this._id}}"
                data-wardid="{{this.ward._id}}"
              >
                <i class="bi bi-trash-fill float-end text-danger pe-auto"></i>
              </a>
            </td>
            <td>
              <a
                name="edit"
                href="/api/sovhtt/danh-sach-diem-dat/{{ward._id}}/editLocation/{{this._id}}"
                class="text-secondary float-end pe-auto"
                {{! data-toggle="modal"
                data-target="#chinhSuaQuan" }}
                id="edit"
                role="button"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  {{! Form xóa điểm đặt }}
  <form name="delete-location-form" method="POST"></form>

  {{! Modal xóa điểm đặt }}
  <div id="xoaDiemDatModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xóa điểm đặt?</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn chắc chắn muốn xóa điểm đặt này?</p>
        </div>
        <div class="modal-footer">
          <button
            id="btn-delete-location"
            type="button"
            class="btn btn-danger"
          >Xóa bỏ</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Hủy</button>
        </div>
      </div>
    </div>
  </div>
</main>