<main>
  <div class="container">

    <table class="table table-bordered">
      <h2 class="text-center">Danh sách Quận</h2>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-success float-right mb-2"
        id="openThemQuanModalBtn"
        data-bs-toggle="modal"
        data-bs-target="#themQuan"
      >
        <i class="bi bi-person-plus"></i>
        Thêm
      </button>

      <thead class="custom-header">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên quận</th>
          <th scope="col">Số lượng phường</th>
          <th scope="col">Số lượng điểm đặt</th>
          <th scope="col">Chi tiết</th>
        </tr>
      </thead>
      <tbody>
        {{#each districts}}
          <tr>
            <td scope="row">{{showIndex @index}}</td>
            <td>{{this.name}}</td>
            <td>{{this.numberOfWards}}</td>
            <td>{{this.numberOfLocations}}</td>
            <!--Calculate the number of locations to put here-->
            <td>
              <a href="/api/sovhtt/danh-sach-phuong/{{this._id}}">Chi tiết
                <i class="bi bi-info-circle"></i></a>
            </td>
            <td>
              <a href="#" class="pe-auto">
                <i class="bi bi-trash-fill float-end text-danger pe-auto"></i>
              </a>
            </td>
            <td>
              <a
                name="edit"
                href="/api/sovhtt/danh-sach-quan/editDistrict/{{this._id}}"
                class="text-secondary float-end pe-auto"
                {{! data-toggle="modal"
                data-target="#chinhSuaQuan" }}
                role="button"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
  <!-- Modal them Quan-->
  <div
    class="modal fade"
    id="themQuan"
    tabindex="-1"
    role="dialog"
    aria-labelledby="themQuanLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
  >
    <div
      class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h4 class="modal-title" id="themQuanLabel">Thêm quận</h4>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
          >
            {{! <span aria-hidden="true">&times;</span> }}
          </button>
        </div>
        <div class="modal-body">
          <!-- Your form goes here -->
          <form
            id="addDistrictForm"
            method="POST"
            action="/api/sovhtt/danh-sach-quan/"
          >
            {{! Tên quận }}
            <div class="mb-3">
              <label for="districtName">
                <h6>Tên quận</h6>
              </label>
              <input
                type="text"
                class="form-control"
                id="districtName"
                name="districtName"
                placeholder="Nhập tên quận (vd: Quận 5)"
              />
            </div>
            {{! Mã quận }}
            <div class="mb-3">
              <label for="districtCode">
                <h6>Mã quận</h6>
              </label>
              <input
                type="text"
                class="form-control"
                id="districtCode"
                name="districtCode"
                placeholder="Nhập mã quận (vd: 42)"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary float-right mt-3"
            onclick="window.location.href='/api/sovhtt/danh-sach-quan/'"
            id="closeBtnThemQuan"
          >Hủy</button>
          <button
            type="submit"
            id="submitBtnThemQuan"
            class="btn btn-primary float-right mt-3 mr-1"
            form="addDistrictForm"
            {{! onclick="window.location.href='/api/sovhtt/danh-sach-quan/'" }}
          >Thêm</button>
        </div>
      </div>
    </div>
  </div>
  <script>

  </script>

</main>