<main>
  <div class="container">

    <table class="table table-bordered">
      <h2 class="text-center">Thống kê báo cáo của người dân trong khu vực
        {{ward.name}}
        -
        {{district.name}}</h2>
      <!-- Button trigger modal -->
      <button type="button" class="btn bg-opacity-0 float-right mb-2">
        <i class="bi bi-funnel"></i>
        Lọc
      </button>

      <thead class="custom-header">
        <tr>
          <th scope="col" class="text-center align-middle">#</th>
          <th scope="col" class="text-center align-middle">Thời điểm gửi</th>
          <th scope="col" class="text-center align-middle">Họ tên người gửi</th>
          <th scope="col" class="text-center align-middle">Email người gửi</th>
          <th scope="col" class="text-center align-middle">SĐT người gửi</th>
          <th scope="col" class="text-center align-middle">Điểm/Bảng</th>
          <th scope="col" class="text-center align-middle">Loại hình báo cáo</th>
          <th scope="col" class="text-center align-middle">Chi tiết</th>
          <th scope="col" class="text-center align-middle">Cách thức xử lí</th>

        </tr>
      </thead>
      <tbody>
        {{#each reports}}
          <tr>
            <td scope="row">{{showIndex @index}}</td>
            <td>{{this.reportDate}}</td>
            <td>{{this.reporter}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNo}}</td>
            <td>{{this.locationDetail.address}}</td>
            <td>{{this.reportFormat}}</td>
            <td>{{this.reportSolutionDetail.method}}</td>
            <td>
              <a
                name="detail"
                href="/api/sovhtt/thong-ke-bao-cao-phuong/{{this.locationDetail.ward}}/detail/{{this._id}}"
                class="text-secondary float-end pe-auto"
                id="detail"
                role="button"
              >
                <i class="bi bi-info-circle text-secondary"></i>
                Xem
              </a>
            </td>

          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</main>